* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todolist {
    padding: 10px;
    flex-direction: column;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.completed{
    text-decoration: line-through;
    pointer-events: none;
}
.list{
    display: flex;
    font-size: 2em;
    align-items:center ;

}
.list {
    background-color: #c5b6b6b8;
    margin: 0.3em;
}
input[type=text]{
    width: 30rem;
    height: 2em;
    font-size: 1.2em;
}
input[type=submit]{
    margin: 0px 0px;
    padding:9px 30px ;
    font-weight: 900;
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(85, 84, 84, 0.808);
}
h3{
    font-size: 2em;
    margin: 2rem;
}